<div class="row">
  <div class="col-12 col-md-6">
    <label for="Ingredient_Name" class="form-label fw-bold"
      >Ingredient_Name</label
    >
    <input
      type="text"
      class="form-control"
      placeholder="Ingredient Name"
      id="Ingredient_Name"
    />
  </div>
  <div class="col-12 col-md-6">
    <label for="Quantity" class="form-label fw-bold">Quantity</label>
    <input
      type="text"
      class="form-control"
      placeholder="Quantity"
      id="Quantity"
    />
  </div>
</div>
